<h1>Welcome!</h1>
<div class = "container">
    Welcome {{name}}, ready to manage your ToDo's?
</div>
<div class = "container">
    You can Manage your ToDo's <a routerLink = "/todos">here!</a>
</div>
<div class = "container">
    Click here to get a customized welcome message.
    <button (click)="getWelcomeMessageWithParameter()" class = "btn btn-success"> Get Welcome Message </button>
</div>
<div class = "container" *ngIf = "welcomeMessageFromService">
    <h2>Your Customized Welcome Message</h2>
    {{welcomeMessageFromService}}
</div>
